.myaccount_card1 {
    width: 95%;
    display: block;
    border-radius: 5px;
    padding-top: 2%;
    padding: 30px;

  }
.myaccount_card2 {
    width: 45%;
    margin-top: 2%;
    display: block;
    border-radius: 5px;
    padding-top: 2%;
    padding: 30px;

  }
  .myaccount_cardup{
      display: flex;
  }
  .myaccount_carddown{
      margin-top: 10%;
      display: flex;
  }
  .myaccount_cardSecond{
      margin-left: 50%;
  }
  .myaccount_cardSecond2{
      margin-left: 53%;
  }
  @media only screen and (max-width: 770px) {
    .myaccount_card1 {
      width: auto;
      margin-bottom: 5%;
      display: block;
    }
    .responsive {
        display: block;
    }
    
    .responsive > div{
        margin-top: 5%;
    }
}

.addMetamask {
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
    box-shadow: 2px 2px 10px #000;
    background-color: #303030;
    padding: 2%;
    justify-content: start;
    gap: 0 20px;
    border-radius: 5px;
    margin-top: 5%;
    text-align: center;
}

.addMetamask > div {
    padding-bottom: 0;
}
.addMetamask > div > img {
    max-width: 50%;
    max-height: 50%;
}
    
.account_1{
    grid-column-start:1;
}
    
.account_1 > button{
    margin-top: 2%;
}
.account_2{
    grid-column-start:2;
}