.myaccount_card1 {
    width: 95%;
    display: block;
    border-radius: 5px;
    padding-top: 2%;
    padding: 30px;

  }
.myaccount_card2 {
    width: 45%;
    margin-top: 2%;
    display: block;
    border-radius: 5px;
    padding-top: 2%;
    padding: 30px;

  }
  .myaccount_cardup{
      display: flex;
  }
  .myaccount_carddown{
      margin-top: 10%;
      display: flex;
  }
  .myaccount_cardSecond{
      margin-left: 50%;
  }
  .myaccount_cardSecond2{
      margin-left: 53%;
  }
  @media only screen and (max-width: 770px) {
    .myaccount_card1 {
      width: auto;
      margin-bottom: 5%;
      display: block;
    }
    .responsive {
        display: block;
    }
    
    .responsive > div{
        margin-top: 5%;
    }
}




.addMetamask > div > img {
    max-width: 50%;
    max-height: 50%;
}
    
.account_1{
    grid-column-start:1;
}
    
.account_1 > button{
    margin-top: 5%;
}
.account_2{
    grid-column-start:2;
}

.accountMargin {
    margin-top: 0;
}
@media (min-width:1299px){
    .accountMargin{
        margin-top: 15%
    }
}
