.cpersonal_container{
    border-radius: 5px;
    background-color: #303030;
    max-width: 40%;
    padding: 2%;
    height: auto;
    margin-left: 22%;
    margin-top: 5%;
    

}
.cpersonal_container > h1 {
    color:#C6C6C6;
    margin-bottom: 2%;
}



.cpersonal_container > div > div > input {
    padding: 1%;
    display: flex;
    outline: none;
    font-size: 20px;
    border-color:#C6C6C6;
}
.cpersonal_button {
    margin-top: 5%;
}

.cpersonal_small {
    outline: none;
    border: none;
    margin-top: 2%;
    border-radius: 5px;
    width: 50%;
    padding: 0.5%;
    font-size: 5px;
}
.cpersonal_img {
    display: flex;
}
.cpersonal_title {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.cpersonal_description {
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 2%;
    text-align: left;
    padding: 2%;
    width: 95%;
    height: 100px;
}
