input {
  border: none;
  outline: none;
  border-radius: 5px;
}
.li {
  cursor: pointer;
  color: #C6C6C6;
}
.cpersonal_form > li span.active {
  font-weight: bold;
}
.li span.active::before {
  content: ">";
  position: relative;
  top: -2px;
  margin-right: 6px;
  transform: scale(0.8, 1);
  display: inline-block;
}
.cpersonal_days {
  display:  block;
}
.cpersonal_container input {
  padding: 1%;
  display: flex;
  outline: none;
  font-size: 20px;
  border-color:#C6C6C6;
}

.cpersonal_types {
  display: flex;
}
.cpersonal_types > div {
  width: 50%;
}



.cpersonal_depend > div > input {
    width: 15%;
    margin-left: 4%;    
    padding: 1%;
    border-radius: 5px;
    font-size: 20px;
}
.cpersonal_depend > div > div > select {
    width: 100%;  
    font-size: 20px;
    padding: 1%;
    border-radius: 5px;
}
.cpersonal_depend > select {
    width: 100%;  
    font-size: 20px;
    padding: 1%;
    border-radius: 5px;
}


.DatePiker{
    padding: 1%;
    font-size: 20px;
    width: 100%;
    text-align: center;
}