.succes_container{
  display: grid;
  justify-items: center;
  margin: 5% 20%;
  min-height: 80vh;
}

.succes_container > div {
    color: #c6c6c6;
  width: 100%;
}
.succes_header{
  background-color: #303030;
  box-shadow: 1px 1px 10px #000;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 2% 4%;
  border-radius: 10px;
}
.succes_header > a:hover {
  text-decoration: underline;

}

.succes_body{
  margin-top: 5%;
  width: 100%;
  display: block;
}
.succes_body > h1{
display: block;
}

.succes_body > div {
  background-color: #303030;
  box-shadow: 1px 1px 10px #000;
  width: 100%;
  padding: 2% 2%;
  border-radius: 5px;
  margin-top: 2%;
}

@media (max-width:1000px) {
  .succes_container{
    margin: 5% 5%;
  }
  .succes_header{
    width: 92%;
    padding: 2% 2%;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;
  display: flex;
  align-items: center;
  }
  .succes_body > div
  {
    width: 96%;
    margin-top: 5%;
    padding: 2% 2%;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;
  }

}