.mymonthly_div {
    margin-top: 5%;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    padding-top: 2%;
    padding-bottom: 4%;
}

.mymonthly_div > p {
    font-size: 30px;
}
.mymonthly_div > button {
    margin-top: 2%;
    
}