.findprivateCard {
    border-radius: 5px;
    position: absolute;
    background-color: #303030;
    width: 50%;
    height:auto;
    margin-top: 5%;
    margin-left: 23%;
    padding: 3%;
    box-shadow: 4px 4px 15px #000;
}

.findprivateCard > input{
    display: block;
    outline: none;
    border: solid;
    border-width: 1px;
    border-color: #C6C6C6;
    color: #C6C6C6;
    background-color:#303030 ;
    font-size: 40px;
    margin-top: 2%;
    border-radius: 5px;
    padding: 1%;
}
.findprivateCard > button {
    margin-top: 2%;
}

