
:root {
    --card: #F0EBE0;
    --boxShadow:  0 0 10px #1a1019;
    --title: #c6c6c6;
    --colorTitle: #68055d;
    --colorText: #a15f9a;
}

.StyleCards {
    background-color: var(--card);
    border-color: none;
    box-shadow: var(--boxShadow);
  }
  .StyleCards > div > h2 {
    color: var(--colorTitle);
  }
  .StyleCards > h1 {
    color: var(--colorTitle);
  }

.upContainer2{
    width: 100%;
    height: auto;
    display: grid;
}

.cardContainer {
    align-items: center;
    margin-top: 5%;
    height: auto;
    padding: 6% 4%;
    background-color: var(--card);
    width: 92%;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}
.cardContainer > div > h1 + h3 {
    color: var(--colorTitle)
}

.cardContainer > div > p {
    color: var(--colorText);
}

.cardContainer > div > img {
    display: none;
}

.cardLarge {
    margin-top: 5%;
    height: auto;
    padding: 6% 4%;
    background-color: var(--card);
    width: 92%;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}
.cardLarge > div > img {
    display: none;
}

.cardLarge > div > h1 + h3 {
    color: var(--colorTitle)
}

.cardLarge > div > p {
    color: var(--colorText);
}

.cardBig {
    margin-top: 5%;
    height: auto;
    padding: 6% 4%;
    background-color: var(--card);
    width: 92%;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}
.cardBig > div > img {
    display: none;
}

.cardBig > div > h1 + h3 {
    color: var(--colorTitle)
}

.cardBig > div > p {
    color: var(--colorText);
}

.cardPremade {
    margin-top: 5%;
    height: auto;
    padding: 6% 4%;
    background-color: var(--card);
    width: 92%;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    text-align: center;
}
.cardPremade > div > p > b {
    color: var(--colorTitle);
}
.cardPremade > div > img {
    display: none;
}


.cardPremade > div > h3, .cardPremade > div > h1 {
    color: var(--colorTitle)
}

.cardPremade > div > p {
    color: var(--colorText);
}

.h3center{
    display: flex;
    align-items: center;
    column-gap: 1vh;
    color: var(--colorTitle)
}
.cardContainerMont{
    align-items: center;
    text-align: center;
    margin-top: 5%;
    height: auto;
    padding: 6% 4%;
    background-color: var(--card);
    width: 92%;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}


.cardContainerMont > div > h1 + h3 {
    color: var(--colorTitle)
}

.cardContainerMont > div > p {
    color: var(--colorText);
}

.account_card {
    display: grid;
    align-items: center;
    padding: 4vh 4%;
    width: 92%;
    height: auto;
    background-color: var(--card);
    margin: 5vh 0;
    border-radius: 5px;
    box-shadow: var(--boxShadow) ;
}




.account_card > div {
    color: var(--colorTitle)
}
.account_card > div > p {
color: var(--colorText);
    font-size: 2vw;
    margin-top: 1%;
    word-break: break-all;
}

.addMetamask {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    box-shadow: var(--boxShadow);
    background-color: var(--card);
    padding: 4% 2%;
    justify-content: start;
    gap: 0 20px;
    border-radius: 5px;
    margin-top: 5%;
    text-align: center;
}

.addMetamask > div > h1 {
    color: var(--colorTitle)
}

.addMetamask > div > p {
    color: var(--colorText);
}

.titleCard{
    color: var(--colorTitle)
}

.textCard {
    color: var(--colorText);
}



@media (min-width:1300px){
    .upContainer2{
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    }
    .cardContainer{
        min-height: 25vh;
        display: grid;
        grid-template-columns: 30% 66%;
        column-gap: 4%;
    }
    .cardContainer > div > img {
        display: block;
    }
    .cardLarge{
         padding: 4% 4%;
        display: grid;
        max-height: 25vh;
        align-items: center;
        grid-template-columns: auto auto;
        column-gap: 4%;
    }
    .cardLarge > div > img {
        display: block;
        width: auto;
        max-height: 20vh;
    }
    .cardBig{
        padding: 4% 4%;
        display: grid;
        align-items: center;
        grid-template-columns: 50% 50%;
        column-gap: 4%;
    }
    .cardBig > div {
        display: grid;
        justify-content: center;
    }
    .cardBig > div > img {
        display: block;
        max-height: 40vh;
    }
    .cardPremade{
        padding: 4% 4%;
        display: grid;
        align-items: center;
        
        grid-template-columns: 50% 50%;
        column-gap: 4%;
    }
    .cardPremade > div {
        display: grid;
        justify-content: center;
    }
    .cardPremade > div > img {
        display: block;
        max-height: 40vh;
    }
    .account_card {
        grid-template-columns: 50% 50%;

    }
    .addMetamask {
        grid-template-columns: 60% 40%;
    }

}

@media (max-width:1299px){

    .addMetamask > div > img {
        display: none;
    }
    .account_card > div {
        margin-bottom: 5%;
    }
    .account_card > div > p {
        font-size: 150%;

        margin-top: 1%;
        
    }
}



