
.heading {
  text-align: center;
  margin: 60px;
  padding-bottom: 50px;
  text-transform: uppercase;
  color: #BA00A1;
  text-shadow: 3px 3px #ff0000;
  font-weight: 800;
  font-size: 45px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 28px;
  }
}

@media (max-width: 425px) {
  .heading {
    font-size: 28px;
  }
}
