.smallFoter{
    position: relative;
    width: 100vw;
    height: 4vh;
    
    bottom: 0;
    background-color: #F0EBE0;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #68055d;
}
    